@import './reset.scss';
@import './layout.scss';
@import './components.scss';
@import './typography.scss';

.sr-only {
  display: none;
}

body {
  font-family: var(--font-family-sans);
  color: var(--color-shit);
}
